body
{
    background-color: whitesmoke;
    font-family: Verdana;
}


/*===================================================================== HEADER */
header
{
    background-color:rgba(140, 104, 150, 1);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.head_titre
{ text-shadow: 2px 2px 4px black; }

.head_logo
{
    width: 25%;
    padding: 3%;
    margin-left: 10%;
}

.head_profil
{
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: flex-end;
}

.head_profil .NP
{
    text-align: right;
    padding: 2%;
    text-shadow: 2px 2px 4px black;
}

.head_profil .btn_menu
{
    font-size: larger;
    text-decoration: none;
    color: white;
    margin-left: 3%;
    width: 10%;
    
}

/*===================================================================== FOOTER */
footer
{
    background-color:rgba(140, 104, 150, 1);
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_logo
{width: 30%;}

.footer_link
{
    text-decoration: none;
    color: whitesmoke;
}

#footer_div_logo
{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
}

#footer_titre
{
    text-align: left;
    color: whitesmoke;
    text-decoration : underline;
}

/*===================================================================== RIGHT Deleguate*/
#btn_validate
{
    background-color: rgba(140, 104, 150, 1);
    color: white;
    margin-left: 45%;
    margin-bottom: 2%;
    font-size: large;
}

.Deleguate_Cadre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.Deleguate_form
{
    background-color: #FFF1F1;
    background: linear-gradient(0deg, rgba(227, 154, 154, 0.2), rgba(227, 154, 154, 0.2)), #FFF1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 1%;
    width: 25%;
}



.Deleguate_LBL
{ font-size: large; }