body
{
    background-color: whitesmoke;
    font-family: Verdana;
}

/*===================================================================== HEADER */
header
{
    background-color:rgba(140, 104, 150, 1);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.head_logo
{
    width: 25%;
    padding: 3%;
    margin-left: 30%;
}

.head_profil
{
    display: flex;
    align-items: center;
    padding: 1%;
}

.head_profil .NP
{
    margin-right: 5%;
    text-align: right;
    padding: 2%;
    text-shadow: 2px 2px 4px black;
}

.head_profil .btn_menu
{
    font-size: larger;
    text-decoration: none;
    color: white;
    margin-left: 5%;
    width: 100%;    
}

/*===================================================================== FOOTER */
footer
{
    background-color:rgba(140, 104, 150, 1);
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_logo
{width: 30%;}

.footer_link
{
    text-decoration: none;
    color: whitesmoke;
}

#footer_div_logo
{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
}

#footer_titre
{
    text-align: left;
    color: whitesmoke;
    text-decoration : underline;
}